local.properties
android/Mindfulness/.idea/misc.xml
android/Mindfulness/app/app.iml
web/node_modules/
web/db.js
android/Mindfulness/.idea/misc.xml
android/Mindfulness/app/app.iml
android/Mindfulness/Mindfulness.iml
