extends layout

block content
    page
        form(action="" method="POST")
            h1 Mindfullness Admin
            br
            err(style="color: #f00; font-size: 0.9em; text-align: center; display: block;") #{error}
            br
            input(placeholder="Username" name="username")
            input(type="password" name="password" placeholder="Password")
            input(type="submit" value="Sign In" style="background-color: #555555; color: #ffffff; width: 25%; min-width: 100px; margin: 5px calc(10% + 10px) 5px 0; float: right;")
            span(style="display: inline-block; margin: 5px 0 5px 40px; line-height: 32px;") Need an account?&nbsp;
                a(href="/register") Register!
