extends layout

block content
  page
    p Welcome, #{username}!
    cards
      card
        name View Logs
        desc Click the button below to view and download both audio and survey logs of the users.
        a(href="/reports") View!
      card
        name Add Admins
        desc Create new administrator accounts by filling out this form.
        a(href="/accounts") Go to form!
      card
        name Test Card
        desc This this card allows the developers to design the look and functionality of all the cards made for this page.
        a A do nothing Button!
