extends layout

block content
    page
        form(action="" method="POST")
            h1 Register a device
            br
            err(style="color: #f00; font-size: 0.9em; text-align: center; display: block;") #{error}
            br
            input(placeholder="Device ID" name="device_id")
            input(type="submit" value="Register" style="background-color: #555555; color: #ffffff; width: 25%; min-width: 100px; margin: 5px calc(10% + 10px) 5px 0; float: right;")
