doctype html
html
  head
    title= "Mindfullness Admin | " + subtitle
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
  body
    bar
      h2!="Mindfullness Admin | " + subtitle + " " + icon
      ul
        a(href='/')
          li Dashboard
        a
          li Reports
        a
          li Register
        a
          li Logout
    block content
