doctype html
html
  head
    title= "Mindfullness Admin | " + subtitle
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
  body
    bar
      h2!="Mindfullness Admin | " + subtitle + " " + icon
      //- Adjusting nav based on if user is signed in
      if token
        ul
          a(href='/')
            li Dashboard
          a(href='/reports')
            li Reports
          a(href='/logout')
            li Logout

    block content
