extends layout

block content
  page
    opt
      name= "Need to add another admin account?"
      span
        a(href='/accounts/add') Add Account
    err(style="color: #f00; font-size: 0.9em; text-align: center; display: block;") #{error}
    p(style='padding: 0 10px;')
      opt(style='box-shadow: none; margin: 0;').admin
        span(style='text-align: left;')
          name(style='font-weight: bold;').info ID
          name(style='font-weight: bold;').info Username
          name(style='font-weight: bold;').info Is Head
    p!= data
  script.
    var deleteLinks = document.querySelectorAll('.danger');

    for (var i = 0; i < deleteLinks.length; i++) {
      deleteLinks[i].addEventListener('click', function(event) {
          event.preventDefault();

          var choice = confirm(this.getAttribute('data-confirm'));

          if (choice) {
            window.location.href = this.getAttribute('href');
          }
      });
    }
