extends layout

block content
  page
    opt
      name= "Audio Log"
      span
        form(action="" method="post")
          input(type="hidden" name="type" value="audio")
          input(type="hidden" name="method" value="view")
          button(type="submit") View
        form(action="" method="post")
          input(type="hidden" name="type" value="audio")
          input(type="hidden" name="method" value="download")
          button(type="submit") Download
    opt
      name= "Survey Log"
      span
        form(action="" method="post")
          input(type="hidden" name="type" value="survey")
          input(type="hidden" name="method" value="view")
          button(type="submit") View
        form(action="" method="post")
          input(type="hidden" name="type" value="survey")
          input(type="hidden" name="method" value="download")
          button(type="submit") Download
