extends layout

block content
  page
    opt
      name= "To download this report, click the download button."
      span
        form(action="" method="post")
          input(type="hidden" name="type" value="audio")
          input(type="hidden" name="method" value="download")
          button(type="submit") Download
    p!= data
